<div class="dialog">
    <div class="dialog__content">
        <h3>Share "Board name" with others</h3>
        <emails-editor emails="rtb.emails"></emails-editor>
    </div>
    <div class="dialog__footer">
        <button class="btn" type="button" data-ng-click="rtb.addRandomEmail()" data-ng-disabled="rtb.disabled">Add email</button>
        <button class="btn" type="button" data-ng-click="rtb.showEmailsCount()">Get emails count</button>
    </div>
</div>