.emails-editor {
    background: #fff;
    max-height: 200px;
    border-top: 1px solid rgba(215, 215, 215, 1.0);
    overflow: auto;
    padding: 5px;

    &::-webkit-scrollbar {
        height: 16px;
        overflow: visible;
        width: 16px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(0,0,0,.2);
        background-clip: padding-box;
        border: solid transparent;
        border-width: 1px 1px 1px 6px;
        min-height: 28px;
        padding: 100px 0 0;
        -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,.1), inset 0 -1px 0 rgba(0,0,0,.07);
        box-shadow: inset 1px 1px 0 rgba(0,0,0,.1), inset 0 -1px 0 rgba(0,0,0,.07);
    }

    &__textarea {
        padding: 5px;
        outline: none;
        resize: none;
        display: inline-block;
        font-size: 13px;
        width: 100%;
        height: 24px;
        vertical-align: middle;
        overflow: hidden;
    }

    &__cross {
        width: 20px;

        position: absolute;
        right: 5px;
        top: 0;
        bottom: 0;
        cursor: pointer;

        &:after {
            content: '\00d7';
            font-size: 20px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &__item {
        display: inline-block;
        padding: 5px 30px 5px 10px;
        background: rgba(217, 232, 255, 1.0);
        border-radius: 999px;
        font-size: 12px;
        margin: 3px;
        max-width: calc(100% - 6px);
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: middle;
        position: relative;
        transition: 0.3s color;

        &:hover {
            color: rgba(20, 20, 20, .3);
        }

        &_select {
            background: rgba(188, 207, 245, 1.0);
        }

        &_type_invalid {
            background: none;
            border-bottom: 2px dotted red;
            padding-bottom: 1px;
            border-radius: 0;
        }

        &_type_invalid&_select {
            border-color: black;
        }
    }
}
