<div class="emails-editor">
    <span class="emails-editor__container">
        <span class="emails-editor__item"
            title="{{email}}"
            data-ng-repeat="email in $ctrl.emails track by $index"
            data-ng-class="{
                'emails-editor__item_type_invalid': !$ctrl.validEmail(email),
                'emails-editor__item_select': $index === $ctrl.selectedEmailIndex
            }"
            data-ng-mouseenter="hover = true"
            data-ng-mouseleave="hover = false"
            data-ng-click="$ctrl.onSelectEmail($index)"
            >
            <span class="emails-editor__text">{{email}}</span>
            <span class="emails-editor__cross" data-ng-click="$ctrl.removeEmail($index)"></span>
        </span>
    </span>
    <textarea class="emails-editor__textarea"
        placeholder="add more people..."
        data-ng-blur="$ctrl.addEmail($ctrl.newEmail)" 
        data-ng-change="$ctrl.newEmailChange()"
        data-ng-model="$ctrl.newEmail"
        data-ng-keydown="$ctrl.keyDownHandler($event)"
        data-ng-trim="false"
        data-ng-style="{
            width: $ctrl.textAreaWidth
        }"
        ></textarea>
</div>