* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    list-style: none;
    background: none;
    border: none;
    ouline: none;
}

body {
    min-height: 100vh;
    background: url('../images/bg.jpg');
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.content {
    background: rgba(0, 0, 0, .3);
    min-height: 100vh;
    position: relative;
    padding: 200px 0;
}

h3 {
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 37px;
}

.dialog {
    background: rgba(245, 245, 245, 1.0);
    position: relative;
    max-width: 500px;
    left: 50%;
    transform: translate(-50%, 0);

    &__content,
    &__footer {
        padding: 30px 40px;
    }

    &__footer {
        background: #fff;
        padding-bottom: 40px;
    }
}

.btn {
    background: #6699ff;
    color: #fff;
    padding: 7px 10px;
    min-width: 100px;
    font-size: 13px;
    cursor: pointer;
    transition: 0.3s background;
    border-radius: 2px;
    outline: none;

    + .btn {
        margin-left: 18px;
    }

    &:hover {
        background: rgba(59, 87, 142, 1);
    }

    &:disabled {
        background: rgba(0, 0, 0, .1)
    }
}